html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  flex-grow: 1;
}


#home {
  background: url('main.jpg') no-repeat center center;
  background-size: cover;
  color: white; /* Ensure text is readable over the background image */
}

.navbar {
  background: linear-gradient(to bottom, rgba(106, 141, 146, 0.6), transparent);
}

footer {
  background: linear-gradient(to top, rgba(106, 141, 146, 0.6), transparent);
}